html {
  font-size: 62.5%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.negrita {
  font-weight: bold;
}

header {
  font-weight: 400;
  height: 35rem;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 8em;
}

header h1 {
  font-size: 6rem;
  /*
  padding-top: 12.5rem;
  padding-left: 10rem;
  */
  padding: 12.5rem 0 0 10rem;
}

header h2 {
  font-size: 3rem;
  padding: 1rem 0 0 10rem;
}

main .contenedor_producto {
  width: 80%;
  margin: auto;
}

.contenedor_imagen_producto {
  width: 60%;
  text-align: center;
}

.contenedor_imagen_producto img {
  width: 45rem;
  border: 1px solid #CCC;
}

.header .main-text {
  padding: 3em;
  font-size: 2em;
  font-weight: 400;
}

.main td {
  width: 50%;
  padding: 2em;
}

.main img {
  max-width: 100%;
  border: solid 1px #ddd;
}

.footer {
  height: 3em;
  line-height: 3em;
  background-color: rgb(185, 112, 41);
  color: white;
  text-align: center;
  font-weight: 900;
}